body,html {
    margin: 0;
    background-color: #000;
    overflow-x: hidden;
   
    color:white;
    scroll-behavior: smooth;
  }
  .jj{
    margin-top: 100px;
    font-size: 12vw;
  }
header{
    position:sticky;
    z-index: 2;
    top: 0;
    right: 0;
    display:flex;
    background-color: #000;
}
.upload{
  background-color: #000;
}
  ul { 
    margin: 10px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 100px;
    text-align: center;
    position:flex;
    
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
    width:auto;
  }
  .a1 {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-family: monospace;
    font-size: 1.5em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  section {
    
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width:100%;
    background-color: #000;
    align-items: center;
  }
  
  
  
  
  
  
  #home {
    background-color: #000;
     

  }
  
  #news {
    background-color:#000000;
  }
  
  #contact {
    background-color: #000000;
  }
  
  #about {
    background-color: 	#000000;
  }
  
  
  
  *[data-animate="true"] {
    opacity: 0;
  }
  
  .animate-slide-down {
    animation: slide-down 300ms ease-out forwards;
  }
  

  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.25);
      opacity: 0.25;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-150%);
    }
    to {
      opacity: 1;
      transform: translateY(var(--slide-translate-y));
    }
}
  
h1 {
    
    text-align: center;
    font-size: 10vw;
    margin:1em auto;
    color:#ffffff;
    -webkit-text-stroke-width: 4px rgb(26, 62, 242);   

  }


  

  .container .box
  {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
  }
  
  .container .box::before
  {
    content:' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
  }
  
  .container .box::after
  {
    content:'';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
  }
  
  .container .box:hover:before,
  .container .box:hover:after
  {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
    
  }
  
  .container .box:nth-child(1):before,
  .container .box:nth-child(1):after
  {
    background: linear-gradient(315deg, #ffbb00, #ff0058)
  }
  
  .container .box:nth-child(2):before,
  .container .box:nth-child(2):after
  {
    background: linear-gradient(315deg, #03a9f4, #ff0058)
  }
  
  .container .box:nth-child(3):before,
  .container .box:nth-child(3):after
  {
    background: linear-gradient(315deg, #4dff03, #00d0ff)
  }
  
  .container .box span
  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
  }
  
  .container .box span::before
  {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;  
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
  }
  
  .container .box:hover span::before
  {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  .container .box span::after
  {
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -1s;
  }
  
  .container .box:hover span:after
  {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  @keyframes animate
  {
    0%, 100%
    {
      transform: translateY(10px);
    }
    
    50%
    {
      transform: translate(-10px);
    }
  }
  .container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
  }

  
  .container .box .content
  {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
  }
  
  .container .box:hover .content
  {
    left: -25px;
    padding: 60px 40px;
  }
  
  .container .box .content h2
  {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .container .box .content p
  {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
  
  .container .box .content a
  {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .container .box .content a:hover
  {
    background: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
  }
  @keyframes colorful {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    appearance: none;
    border-style: none;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, span, p {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  

  
  .container1 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding: 0em;
  }
  
  .card {
    
    width: 300px;
    height: 400px;
    margin: 1em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
  }
  
  .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .card .content .img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, .25);
  }
  
  .card .content .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .content .cardContent h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  .card .content .cardContent h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  
  .card .cardDetails {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .card .cardDetails li {
    margin: 0 10px;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  
  .card .cardDetails li a {
    font-size: 24px;
  }
  
  .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .card:hover .cardDetails li {
    transform: translateY(0px);
    opacity: 1;
  }
  .container2 {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 20px 0;
  }

  .container2 .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 10px;
    transition: 0.5s;
  }

  .container2 .card:nth-child(1) .box .content a {
    background:#25aae1;
  }

  .container2 .card:nth-child(2) .box .content a {
    background:#e75516;
  }

  .container2 .card:nth-child(3) .box .content a {
    background: #8E37D7;
  }

  .container2 .card:nth-child(4) .box .content a {
    background: #0ba360;
  }

  .container2 .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }

  .container2 .card .box:hover {
    transform: translateY(-50px);
  }

  .container2 .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }

  .container2 .card .box .content {
    padding: 20px;
    text-align: center;
  }

  .container2 .card .box .content h2 {
    position: absolute;
    top: -90px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }

  .container2 .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }

  .container2 .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
    transition: 0.5s;
  }

  .container2 .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .container2 .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }
  .wrapper {
    display: inline-flex;
    list-style: none;
    margin:0 auto;
    width:50%;
    
    
  }
  
  .wrapper .icon {
    position: relative;
    background: #000000;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color:white
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #000000;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover:hover .tooltip::before {
    background: #1877f2;
    color: #ffffff;
  }
  
  .wrapper .X:hover,
  .wrapper .X:hover .tooltip,
  .wrapper .X:hover:hover .tooltip::before {
    background: #222222;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #ffffff;
  }
  
  .wrapper .gmail:hover,
  .wrapper .gmail:hover .tooltip,
  .wrapper .gmail:hover .tooltip::before {
    background: #b43a3a;
    color: #ffffff;
  }
  .social{
      margin-left:34vw;
      display:inline-block;
      margin-bottom:50px;
  }
.homepage{
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  width:85%;
  height:600px;
  margin: 30px auto;
  
}
@media (max-width: 450px) {
  h1{
    font-size: 80px;
    margin-top: 160px;
    margin:auto auto;
    margin-bottom: 30px;;
  }
  .wrapper .icon {
    
    font-size: 37px;
    
  }
  .social{
    margin:auto auto;
    
    margin-bottom:40px;
  }

  .container2 .card{
    min-width: 365px;
    min-height: 336px;
  }
  .wrapper .icon{
    height:50px;
    width:50px;
  }
  a{
    padding:10px 10px;
  }
  .card{
    width:168px;
    height:248px;
    margin:0;
    margin-left:10px;
    display:flex;
    flex-wrap: wrap;
  }
 .container1{
  max-width: 414px;
 }
 .jj{
  margin-top: 200px;
  font-size: 20vw;
 }
 .a1{
  padding: 10px 7px;
  letter-spacing: 0;
 }
}
